/* BACKGROUND COLOR*/

.red {
    background-color: #FF0000;
}

.red-1 {
    background-color: #D90000;
}

.red-2 {
    background-color: #C00000;
}

.red-3 {
    background-color: #C01D1D;
}

.red-pink {
    background-color: #F85A5A;
}

.grey {
    background-color: #262626;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #FFF;
}

.black-1 {
    background-color: #0C0B0B;
}

.green {
    background-color: #22B148;
}