@import "colors.css";
@import "home.css";
@import "about.css";
@import "social_links.css";
@import "partners.css";
@import "footer.css";
html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    padding-bottom: 5px;
    background-color: white;
    min-height: 1600px;
}

.page-container {
    padding: 20px 10px;
    width: 100%;
    max-width: 650px;
    margin: auto;
    text-align: left;
    background-color: white;
}

.parallax {}

.rellax {
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
}

.page-container h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    margin: 0 0 20px 0;
    color: #222222;
}

.page-container p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-size: 18px;
    margin: auto;
    color: #222222;
}

.page-container p:not(:last-of-type) {
    margin-bottom: 24px;
}


/* **********************************************************************************************
***********************************   MEDIA QUERIES   ******************************************* 
********************************************************************************************** */


/* Small Screens ****************************************************************************
/* max-width 640px *********************************************************************/

@media only screen and (max-width: 40em) {}


/* End of small Screens
   
   
   
/* Medium Screens ***************************************************************************
/* min-width 641px and max-width 1023px ************************************************/

@media only screen and (min-width: 40.063em) and (max-width: 63.938em) {}


/* End of Medium Screens
   
   
   
   
/* Large Screens ****************************************************************************
/* min-width 1024px and max-width 1440px ***********************************************/

@media only screen and (min-width: 64em) and (max-width: 90em) {
    .page-container {
        width: 1024px;
    }
}


/* End of Large Screens
   
   
   
/* Extra Large Screens **********************************************************************
/* min-width 1441px ********************************************************************/

@media only screen and (min-width: 90.063em) {
    .page-container {
        width: 1320px;
    }
}


/* End of Extra Large Screens